.container {
  font-family: Arial;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: left;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"], textarea {
  font-family: Arial;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  font-family: Arial;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.note {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.note h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

.note p {
  margin-top: 10px;
  font-size: 16px;
}
